body{
    display: flex;
    justify-content: center;
}
.background{
    background-color: #7a06b6;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.polygon1 {
    width: 30px;
    height: 30px;
    border: 5px solid #ecd0f6;
    background-color: inherit;
    transform: rotate(45deg);  
    border-radius: 3px;
}
.polygon2{
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: white;
    transform: rotate(45deg);  
    border-radius: 3px;
    margin-left: -1rem;
}
